* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

* hr {
    color: lightgrey;
    border: 0.1;
    
    
}

* ul {
    list-style-type: none;
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: brown;
    padding-left: 10px;
    padding-right: 10px;
    
}

header .header-inner .nav-container-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 300px;
    background-color: blue;
}

header .header-inner .nav-container-left .list-nav-left ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

header .header-inner .nav-container-right {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    width: 300px;
    background-color: blue;

}

header .header-inner .nav-container-right .list-nav-right ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    
}

.container-centered {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

* button {
    width: 200px;
    height: 35px;
    background-color: ;
}

main .title-section {
    padding-top: 50px;
    margin-bottom: 100px;
}

main .title-section {
    background-color: blue;
}

h1 {
    font-size: 50px;
    padding-bottom: 50px;
}

main .title-section .text-title {
    display: flex;   
}

main .title-section .text-title .text-title-inner {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: space-between;
}

main .title-section .text-title .img-title-inner {
    display: flex;
    min-width: 650px;
    min-height: 350px;
    background-color: red;
    flex-grow: 1;
}

main .business {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
}


main .business .title-business {
    padding-bottom: 50px;
}


main .business .link-business ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

main .packages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;  
}

main .packages .packages-box {   
    min-width: 30%;
    border: solid 1px lightgrey;  
}

main .enterprise {
    border: solid 1px lightgrey;
    margin-bottom: 150px;
}

main .enterprise .enterprise-icon-top {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 5px;
}

main .partner {
    display: flex;
    gap: 40px;
    padding-bottom: 150px;
}

main .partner .partner-box-left {
    display: flex;
    min-width: 650px;
    min-height: 350px;
    background-color: red;
    
}

main .partner .partner-box-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
    padding-top: 50px; 
}

main .title-operations {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

main .operations {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

main .operations .box-operations {
    max-width: 30%;
    width: auto;
    background-color: blueviolet;
}

main .dropbox-business {
    max-width: 400px;
    padding-bottom: 70px;
}

